{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}文件管理 - 上传文件{% endblock %}
{% block custome_css %}
    <link rel="stylesheet" href="{% static 'files/css/file-upload.css' %}">
{% endblock %}
{% block content %}
    <div class="content">
        <p class="content-note1">上传文件<span class="content-note2"> (*请勿上传.exe和.bat文件)</span></p>
        <div style="clear:both"></div>
        <form class="form-table" enctype="multipart/form-data" action="{% url 'files:upload' %}" method="post">
            <div class="form-list">
                <input type="file" name="myfile" />
            </div>
            {% if msg %}
                <div class="error">{{ msg }}</div>
            {% endif %}
            <div style="clear:both"></div>
            <div class="form-list">
                <input class="form-button" type="submit"/>
            </div>
            <div class="form-list">
                 <button class="form-button" type="button" onclick="btn_cancel()">取消</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
{% block custome_js %}
    <script>
        function btn_cancel() {
            location.href = "{% url 'index' %}";
        }
    </script>
{% endblock %}