{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}文件管理 - 操作日志{% endblock %}

{% block custome_css %}{% endblock %}

{% block content %}
    <div class="content">
        <p>操作日志</p>
        <div class="form-class">
            <form>
                <input id="search" class="form-text" type="text" placeholder="搜索..." name="search" value="{% if search %}{{ search }}{% endif %}"/>
                <button class="form-submit" type="submit">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
            </form>
        </div>
        <br/><br/>

        <table class="table-list">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>工号</th>
                    <th>人员</th>
                    <th>操作类型</th>
                    <th>备注</th>
                    <th>文件编号</th>
                    <th>文件名称</th>
                    <th>操作时间</th>
                </tr>
            </thead>
            <tbody>
            {% for content in p_contents.object_list %}
                <tr>
                    <td>{{ forloop.counter|add:start }}</td>
                    <td>{{ content.userno }}</td>
                    <td>{{ content.username }}</td>
                    <td>{{ content.type }}</td>
                    <td>{{ content.comment }}</td>
                    <td>{{ content.fileno }}</td>
                    <td>{{ content.filename }}</td>
                    <td>{{ content.modify_time|date:"Y-m-d H:i:s" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="page">
            <ul class="pagination">
                {% if p_contents.has_previous %}
                    <li><a href="?{{ p_contents.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_contents.pages %}
                    {% if page %}
                        {% ifequal page p_contents.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_contents.has_next %}
                    <li><a href="?{{ p_contents.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
