{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}文件管理 - 人员列表{% endblock %}

{% block custome_css %}{% endblock %}

{% block content %}
    <div class="content">
        <p>人员列表</p>
        <div class="form-class">
            <form action="" method="get">
                <input id="search" class="form-text" type="text" placeholder="搜索..." name="search" value="{% if search %}{{ search }}{% endif %}"/>
                <button class="form-submit" type="submit">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
            </form>
        </div>
        <button class="button-insert" id="btn_add">添加人员</button>
        <br/><br/>

        <table class="table-list">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>工号</th>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>角色</th>
                    <th>子角色</th>
                    <th>添加时间</th>
                </tr>
            </thead>
            <tbody>
                {% for content in p_contents.object_list %}
                    <tr>
                        <td>{{ forloop.counter|add:start }}</td>
                        <td>{{ content.userno }}</td>
                        <td><a href="{% url 'users:detail' content.id %}">{{ content.username }}</a></td>
                        <td>{{ content.department }}</td>
                        <td>{{ content.get_role_display }}</td>
                        <td>{{ content.get_sub_role_display }}</td>
                        <td>{{ content.add_time|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="page">
            <ul class="pagination">
                {% if p_contents.has_previous %}
                    <li><a href="?{{ p_contents.previous_page_number.querystring }}">&laquo;</a></li>
                {% endif %}
                {% for page in p_contents.pages %}
                    {% if page %}
                        {% ifequal page p_contents.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if p_contents.has_next %}
                    <li><a href="?{{ p_contents.next_page_number.querystring }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block custome_js %}
    <script>
        var btn_add = document.getElementById("btn_add");
        btn_add.onclick = function () {
            location.href = "{% url 'users:add' %}";
        };
    </script>
{% endblock %}
